

@media screen and (max-width: 558px) {
    .scrolledContainer{
        margin-top: 0;
        grid-template-columns: 100%;
        grid-template-rows: 30% 1fr;
    }
    .imgs >div {
        padding: 5rem;
    }

    img{
        object-fit: contain;
    }
    .texts {
        padding: .3rem;
        display: block;
        position: relative;
        height: 100%;

    }
    .texts p,.rightText{
        position: fixed;
        top: 15%;
        left: 50%;
        transform: matrix(1,0,0,1,0,0);
        transform: translate(-50%, -50%);
        z-index: 999;

    }
    .f-text{
        opacity: 1;
    }
    .s-text{
        opacity: 0;
    }
    .rightText{
        font-size: 16px;
        width: 100%;
        padding: 1rem;
        top: 10%;
        opacity: 0;

    }
}

 /* @media screen and (max-width: 768px) {
    .scrolledContainer{
        margin-top: 0;
        grid-template-columns: 30% 70%;
    }
}  */
